# Ignore node_modules
node_modules/

# Ignore build directories for Next.js
.next/
out/
build/
dist/

# Ignore markdown files
*.md

# Ignore toml files
*.toml

# Ignore JSON files
*.json

commitlint.config.js
commitlint.config.ts
