# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .env file
.env
!packages/prisma/.env

# dependencies
node_modules
.pnp
.pnp.js

# testing
**/coverage
/test-results/
**/playwright/videos
**/playwright/screenshots
**/playwright/artifacts
**/playwright/results
**/playwright/reports/*

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
!.env.appStore.example

# vercel
.vercel

# Webstorm
.idea

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Typescript
tsconfig.tsbuildinfo

# turbo
.turbo

# Prisma-Zod
packages/prisma/zod/*.ts

# Builds
dist

# Linting
lint-results

#Storybook
apps/storybook/build-storybook.log

# Infisical
.infisical.json

# Snaplet
.snaplet/snapshots
.snaplet/structure.d.ts

# Submodules
.gitmodules
apps/api
apps/website
apps/console
apps/auth

# Lerna
lerna-debug.log
lerna-debug.log.*

# ignore all images from packages/static-server
packages/static-server/public/**/*.png
packages/static-server/public/**/*.jpg
packages/static-server/public/**/*.jpeg
packages/static-server/public/**/*.gif
packages/static-server/public/**/*.svg
packages/static-server/public/**/*.ico

# Prisma generated files
.prisma/
packages/prisma/zod
packages/prisma/.snaplet/dataModel.json
packages/prisma/.snaplet/dataExamples.json


.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/sdks
!.yarn/versions
!.yarn/cache
.pnp.*
.yarn/install-state.gz

diff.txt

.nx/cache
/.nx
apps/web/app/ui-preview

todo.md
