node_modules
.next
public
**/**/node_modules
**/**/.next
**/**/public

*.lock
*.log

.gitignore
.npmignore
.DS_Store
.eslintignore

**/jest.setup.ts
.yarn/*

# Storybook files
.storybook
apps/storybook/storybook-static
services/ml/.venv
