@tailwind base;
@tailwind components;
@tailwind utilities;

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

html {
  scrollbar-gutter: stable;
}

@supports (scrollbar-gutter: stable) {
  /* https://github.com/radix-ui/primitives/issues/1496#issuecomment-1962839229 */
  html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
  }
}

@layer base {
  :root {
    --gray-50: 210 20% 98%; /* hsla(210, 20%, 98%, 1) */
    --gray-100: 220 14.3% 95.9%; /* hsla(220, 14.3%, 95.9%, 1) */
    --gray-200: 220 13% 91%; /* hsla(220, 13%, 91%, 1) */
    --gray-300: 216 12.2% 83.9%; /* hsla(216, 12.2%, 83.9%, 1) */
    --gray-400: 218 10.6% 64.9%; /* hsla(218, 10.6%, 64.9%, 1) */
    --gray-500: 220 8.9% 46.1%; /* hsla(220, 8.9%, 46.1%, 1) */
    --gray-600: 215 13.8% 34.1%; /* hsla(215, 13.8%, 34.1%, 1) */
    --gray-700: 217 19.1% 26.7%; /* hsla(217, 19.1%, 26.7%, 1) */
    --gray-800: 215 27.9% 16.9%; /* hsla(215, 27.9%, 16.9%, 1) */
    --gray-900: 0 0% 6.3%; /* hsla(0, 0%, 6.3%, 1) */

    --black-50: 180 2.2% 91.2%; /* hsla(180, 2.2%, 91.2%, 1) */
    --black-100: 210 2% 80.8%; /* hsla(210, 2%, 80.8%, 1) */
    --black-200: 220 1.5% 61.4%; /* hsla(220, 1.5%, 61.4%, 1) */
    --black-300: 210 2.8% 42%; /* hsla(210, 2.8%, 42%, 1) */
    --black-400: 206 6.1% 22.5%; /* hsla(206, 6.1%, 22.5%, 1) */
    --black-500: 214 11.9% 11.6%; /* hsla(214, 11.9%, 11.6%, 1) */
    --black-600: 210 13.6% 8.6%; /* hsla(210, 13.6%, 8.6%, 1) */
    --black-700: 200 10.3% 5.7%; /* hsla(200, 10.3%, 5.7%, 1) */
    --black-800: 210 14.3% 2.7%; /* hsla(210, 14.3%, 2.7%, 1) */
    --black-900: 0 0% 0%; /* hsla(0, 0%, 0%, 1) */

    --nobel-black-50: 240 2.4% 8%; /* hsla(240, 2.4%, 8%, 1) */
    --nobel-black-100: 240 5.3% 11.2%; /* hsla(240, 5.3%, 11.2%, 1) */
    --nobel-black-200: 240 3.7% 15.9%; /* hsla(240, 3.7%, 15.9%, 1) */

    --white-50: 0 0% 89.8%; /* hsla(0, 0%, 89.8%, 1) */

    --orange-50: 18 27% 49.4%; /* hsla(18, 27%, 49.4%, 1) */

    --sidebar-max-width: calc((200 / 16) * 1rem);
    --suggestions-panel-width: calc((270 / 16) * 1rem);
    --container-max-width: calc((664 / 16) * 1rem);
    --tab-container-height: calc((70 / 16) * 1rem);
    --tab-container-bottom-margin: 1rem;
    --feed-card-width: calc((600 / 16) * 1rem);
    --content-height: calc(100vh - var(--tab-container-height) - var(--tab-container-bottom-margin));
    --create-post-modal-width: calc((600 / 16) * 1rem);
  }
}

@layer utilities {
  .sidebar-max-width {
    @apply max-w-[var(--sidebar-max-width)];
  }

  .suggestions-panel-max-width {
    @apply max-w-[var(--suggestions-panel-width)];
  }

  .container-max-width {
    @apply max-w-[var(--container-max-width)];
  }

  .tab-container-height {
    @apply h-[var(--tab-container-height)] max-h-[var(--tab-container-height)];
  }

  .tab-wrapper-width {
    @apply w-[var(--feed-card-width)] max-w-[var(--feed-card-width)];
  }

  .feed-card-width {
    @apply min-w-[var(--feed-card-width)];
  }

  .center {
    @apply grid place-items-center;
  }

  .content-height {
    @apply min-h-[var(--content-height)];
  }

  .at-max-viewport {
    @apply max-h-screen min-h-screen;
  }

  .scroller {
    @apply scrollbar scrollbar-thumb-nobelBlack-200 scrollbar-track-transparent;
  }

  .focus-presets {
    @apply focus:shadow-input-ring focus:ring-offset-nobelBlack-50 outline-none focus:outline-none focus:outline-0 focus:ring-offset-2 focus-visible:outline-0;
  }

  .focus-within-presets {
    @apply focus-within:shadow-input-ring focus-within:ring-offset-nobelBlack-50 outline-none focus-within:outline-none focus-within:outline-0 focus-within:ring-offset-2 focus-visible:outline-0;
  }

  .focus-primary {
    @apply focus:border-blue-500 focus:ring-blue-500/30;
  }

  .focus-within-primary {
    @apply focus-within:border-blue-500 focus-within:ring-blue-500/30;
  }

  .focus-visible {
    @apply focus-visible:shadow-input-ring focus-visible:ring-offset-nobelBlack-50 outline-none transition-all duration-100 focus:ring-offset-2 focus-visible:border-blue-500 focus-visible:outline-none focus-visible:outline-0 focus-visible:ring-blue-500/30;
  }

  .focus-secondary {
    @apply focus:border-nobelBlack-200 focus:ring-gray-700;
  }

  .focus-danger {
    @apply focus:border-red-500 focus:ring-red-500/30;
  }

  .overlay {
    @apply bg-nobelBlack-50/80 animate-in fade-in-0 fixed inset-0 z-50 backdrop-blur-sm;
  }

  .overflow-clip-margin-unset {
    overflow-clip-margin: unset;
  }

  .avatar-stack-skeleton {
    @apply border-nobelBlack-100 rounded-full border;
  }
}

@layer components {
  .tab-container {
    @apply bg-nobelBlack-50/70 tab-container-height sticky top-0 z-10 mb-[var(--tab-container-bottom-margin)] flex w-full flex-col justify-center backdrop-blur-lg;
  }

  .spinner-text {
    @apply text-black-200 text-lg;
  }

  .spinner-with-text-wrapper {
    @apply flex flex-col items-center gap-3;
  }
}
