@keyframes rotate {
  0% {
    transform: skew(var(--skew)) rotate3d(var(--full-rotation));
  }

  100% {
    transform: skew(var(--skew)) rotate3d(var(--rotation-xyz), calc(var(--rotation-deg) + 360deg));
  }
}

@keyframes translate {
  0% {
    opacity: 1;
  }

  8% {
    transform: translateY(calc(var(--translate-y) * 0.95))
      translateX(calc(var(--translate-x) * (var(--x-spread) * 0.9)));
    opacity: 1;
  }

  12% {
    transform: translateY(var(--translate-y)) translateX(calc(var(--translate-x) * (var(--x-spread) * 0.95)));
    opacity: 1;
  }

  16% {
    transform: translateY(var(--translate-y)) translateX(calc(var(--translate-x) * var(--x-spread)));
    opacity: 1;
  }

  100% {
    transform: translateY(calc(var(--translate-y) + var(--fall-distance))) translateX(var(--translate-x));
    opacity: 0;
  }
}

@keyframes no-gravity-translate {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(var(--translate-y)) translateX(var(--translate-x));
    opacity: 0;
  }
}

.confettiHolder {
  position: relative;
}

.rounded .confetti::before {
  border-radius: 50%;
}

.cone .confetti {
  --translate-x: calc(200px * var(--translate-y-multiplier) * var(--translate-x-multiplier));
}

.no-gravity .confetti {
  animation-name: no-gravity-translate;
  animation-timing-function: ease-out;
}

@media (prefers-reduced-motion) {
  .disableForReducedMotion .confetti,
  .disableForReducedMotion .confetti::before {
    animation: none;
  }
}

.confetti {
  --translate-y: calc(-200px * var(--translate-y-multiplier));
  --translate-x: calc(200px * var(--translate-x-multiplier));
  position: absolute;
  height: calc(var(--size) * var(--scale));
  width: calc(var(--size) * var(--scale));
  animation: translate var(--transition-duration) var(--transition-delay) var(--transition-iteration-count) linear;
  opacity: 0;
  pointer-events: none;
}

.confetti::before {
  --full-rotation: var(--rotation-xyz), var(--rotation-deg);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color);
  background-size: contain;
  transform: skew(var(--skew)) rotate3d(var(--full-rotation));
  animation: rotate var(--transition-duration) var(--transition-delay) var(--transition-iteration-count) linear;
}
